<div id="sidebar"  class="nav-collapse ">
   <!-- sidebar menu start-->
   <ul class="sidebar-menu" id="nav-accordion">
   
   	  <p class="centered"><a href="shop_info.html"><img src="assets/img/ui-zac.jpg" class="img-circle" width="60"></a></p>
   	  <h5 id="sidebar-shopName" class="centered"></h5>
   	  <h6 id="sidebar-shopAddr" class="centered"></h6>
   	  <h6 id="sidebar-shopTel" class="centered"></h6>
   	  	
   	  	
   	  <li class="mt sub-menu">
           <a href="javascript:;" >
               <i class="fa fa-credit-card"></i>
               <span>Coupon</span>
           </a>
           <ul class="sub">
               <li><a  href="coupon.html">Coupon Management</a></li>
           </ul>
       </li>
       	
       <li class="sub-menu">
           <a class="active"  href="javascript:;" >
               <i class="fa fa-edit"></i>
               <span>Woman Style</span>
           </a>
           <ul class="sub">
               <li class="active"><a href="style_addStyle.html">Add Woman Style</a></li>
               <li><a  href="style_cut.html#">Woman Cut</a></li>
               <li><a  href="style_perm.html#">Woman Perm</a></li>
               <li><a  href="style_color.html#">Woman Color</a></li>
               <li><a  href="style_care.html#">Woman Care</a></li>
               <li><a  href="style_etc.html#">Woman ETC</a></li>
           </ul>
       </li>

       <li class="sub-menu">
           <a href="javascript:;" >
               <i class="fa fa-key"></i>
               <span>Shop</span>
           </a>
           <ul class="sub">
               <li><a  href="shop_info.html">Shop Info</a></li>
               <li><a  href="shop_priceList.html">Price List</a></li>
           </ul>
       </li>
       <li class="sub-menu">
           <a href="javascript:;" >
               <i class="fa fa-star-o"></i>
               <span>Celebrity</span>
           </a>
           <ul class="sub">
               <li><a  href="celeb_man.html#">Celebrity Man</a></li>
               <li><a  href="celeb_woman.html#">Celebrity Woman</a></li>
           </ul>
       </li>

   </ul>
   <!-- sidebar menu end-->
</div>