<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Beauty_Chu Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <script src="assets/js/jquery.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    
<style>
.thumb {
	height: 200px;
	border: 1px solid #ccc;
	margin: 10px 5px 0 0;
}

#list-output div {
	display: inline-block;
}
#list-output div a {
	color: #555;
	font-size: 0.8em;
}
#list-output div a:focus, #list-output div a:hover {
	color: red;
	font-size: 0.8em;
}

.project h4 {
	text-align: center;
}
</style>
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="coupon.html#" class="logo"><b>Beauty_Chu Admin</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Beauty_Chu Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-zac.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-divya.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-danro.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-sherman.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              sidebar menu start
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="shop_info.html#"><img src="assets/img/ui-zac.jpg" class="img-circle" width="60"></a></p>
              	  <h5 id="sidebar-shopName" class="centered"></h5>
              	  <h6 id="sidebar-shopAddr" class="centered"></h6>
              	  <h6 id="sidebar-shopTel" class="centered"></h6>
              	  	
                  <li class="mt sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-credit-card"></i>
                          <span>Coupon</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="coupon.html">Coupon Management</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a class="active"  href="javascript:;" >
                          <i class="fa fa-edit"></i>
                          <span>Style</span>
                      </a>
                      <ul class="sub">
                          <li><a href="style_addStyle.html">Add Style</a></li>
                          <li class="active"><a  href="style_cut.html">Cut</a></li>
                          <li><a  href="style_perm.html#">Perm</a></li>
                          <li><a  href="style_color.html#">Color</a></li>
                          <li><a  href="style_care.html#">Care</a></li>
                          <li><a  href="style_etc.html#">ETC</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-key"></i>
                          <span>Shop</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="shop_info.html">Shop Info</a></li>
                          <li><a  href="shop_priceList.html">Price List</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-star-o"></i>
                          <span>Celebrity</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="celeb_man.html#">Celebrity Man</a></li>
                          <li><a  href="celeb_woman.html#">Celebrity Woman</a></li>
                      </ul>
                  </li>
                  

              </ul>
              <!-- sidebar menu end -->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
          	<h3><i class="fa fa-angle-right"></i> Cut</h3>
          	<hr>
				<div class="row mt">
				
					<!-- Button trigger modal -->
					<div class="project col-lg-2 col-sm-3 col-xs-4 desc">
						<div class="photo-wrapper" data-toggle="modal" data-target="#myModal">
							<div class="photo">
								<img src="assets/img/s3.jpg" id="spotify"><br>
							</div>
						</div>
								<h4><strong>제목 cut</strong></h4>
					</div>
					
					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-angle-right"></i> Update Style</h4>
					      </div>
					      <div class="modal-body">
					        <!-- BASIC FORM ELELEMNTS -->
				                  	  
				                      <form class="form-horizontal style-form" id="styleForm" method="post" enctype="multipart/formdata">
				                      
				                      	  <div class="form-group">
				                          	<label class="col-sm-2 control-label"><b>분 류</b></label>
				                          	<div class="col-sm-5">
					                            <select id="styleSort" class="form-control round-form">
												  <option>Cut</option>
												  <option>Perm</option>
												  <option>Color</option>
												  <option>Care</option>
												  <option>ETC</option>
												</select>
											</div>
				                          </div>
				                          
				                          <div class="form-group">
				                          	<label class="col-sm-2 control-label"><b>기 장</b></label>
				                          	<div class="col-sm-5">
					                            <select id="styleLength" class="form-control round-form">
												  <option>Short</option>
												  <option>Medium</option>
												  <option>Long</option>
												</select>
											</div>
				                          </div>
										
				                          <div class="form-group">
				                              <label class="col-sm-2 control-label"><b>제 목</b></label>
				                              <div class="col-sm-10">
				                                  <input type="text" id="styleName" class="form-control round-form">
				                              </div>
				                          </div>
				                          
				                          <div class="form-group">
				                              <label class="col-sm-2 control-label"><b>가 격</b></label>
				                              <div class="col-sm-10">
				                                  <input type="text" id="price" class="form-control round-form" numberonly="true" maxlength="8">
				                              </div>
				                          </div>
				                          
				                          <div class="form-group">
				                              <label class="col-sm-2 control-label"><b>소 개</b></label>
				                              <div class="col-sm-10">
				                              	<textarea id='styleIntro' name="style-intro" rows="2" cols="80" class="form-control round-form"></textarea>
												<div class="remaining text-right">남은 글자수: <span class="info-count">100</span></div>
				                              </div>
				                          </div>
				                          
				                          <div class="form-group" style="border-bottom:0;">
				                              <label class="col-sm-2 control-label"><b>사 진</b></label>
				                              <div class="col-sm-10">
				                              	<input type="file" id="photofile" name="files[]" accept="image/*" multiple/>
												<output id="list-output"><br></output>
				                              </div>
				                          </div>
				                      </form>
				                      <!-- end of BASIC FORM ELELEMNTS -->
				                      
					      </div> <!-- end of modal-body -->
					      
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        <button type="button"  id="style-addBtn" class="btn btn-theme">Save changes</button>
					      </div>
					    </div>
					  </div>
					</div>
					
					
					
					
		</div> <!-- end of row mt -->
		
		</section><!--/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2015 Beauty Chu~♥
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
	<script src="assets/js/fancybox/jquery.fancybox.js"></script>    
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>

    <!--script for this page-->


  <!-- 로드 스크립트!! -->
	<!-- <script>
		 $('aside').load('assets/sidebar.html');
	</script>
   -->
   
   
  <script>
  /*
  ** 폼
  **
  ** <input type="text" numberonly="true" />  // 숫자만 입력 가능한 텍스트박스
  ** <input type="text" datetimeonly="true" /> // 숫자, 콜론(:), 하이픈(-)만 입력 가능한 텍스트박스
  */
  $(function()
  {
   $(document).on("keyup", "input:text[numberOnly]", function() {$(this).val( $(this).val().replace(/[^0-9]/gi,"") );});
   $(document).on("keyup", "input:text[datetimeOnly]", function() {$(this).val( $(this).val().replace(/[^0-9:\-]/gi,"") );});
  });
  
  <!-- Browse Short... image preview ------------------------------------------------------------------------>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    console.log("files" + files);
    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }
      console.log(f);
      var reader = new FileReader();

      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var date = new Date();
          var file = date.getTime();
          
          var div = document.createElement('div');
          div.id = file;
          div.innerHTML = ['<img class="thumb" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/><br>',escape(theFile.name),
                            '&nbsp; <a href="javascript:del(',file,')">삭제</a>'].join('');
          
          document.getElementById('list-output').insertBefore(div, null);
        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }
  
  	function del(value) {
		document.getElementById(value).remove();
	}

  document.getElementById('photofile').addEventListener('change', handleFileSelect, false);

<!-- 스타일정보 maxlength -->
$('.remaining').each(function() {
      // count 정보 및 count 정보와 관련된 textarea/input 요소를 찾아내서 변수에 저장한다.
      var $count = $('.info-count', this);
      var $input = $(this).prev();
      // .text()가 문자열을 반환하기에 이 문자를 숫자로 만들기 위해 1을 곱한다.
      var maximumCount = $count.text() * 1;
      // update 함수는 keyup, paste, input 이벤트에서 호출한다.
      var update = function() {
          var before = $count.text() * 1;
          var now = maximumCount - $input.val().length;
          // 사용자가 입력한 값이 제한 값을 초과하는지를 검사한다.
          if (now < 0) {
              var str = $input.val();
              alert('글자 입력수가 초과하였습니다.');
              $input.val(str.substr(0, maximumCount));
              now = 0;
          }
          // 필요한 경우 DOM을 수정한다.
          if (before != now) {
              $count.text(now);
          }
      };
      // input, keyup, paste 이벤트와 update 함수를 바인드한다
      $input.bind('input keyup paste', function() {
          setTimeout(update, 0)
      });
      update();
  });
</script>
  

  </body>
</html>
